.table th, .table td{
    border: 1px solid #6c757d !important;
}
.btn{
  margin: 50px;
  padding: 10px 50px !important;
}
td.false{
  color: #721c24;
  background-color: #f8d7da;
}
td.true{
  color: #856404;
  background-color: #fff3cd;
}
td.noContent{
  color: #155724;
  background-color: #d4edda;
}
td.GMP{
  color: #0c5460;
  background-color: #d1ecf1;
}
.table {
    width: 90% !important;
    text-align: center;
    margin-left: 5%;
}
#tables h5{
  color: #6c757d;
  margin-left: 20px;
}
#tables h1{
  margin-left: 20px;
}
.page-title{
  text-align: center;
}
